<app-custom-breadcrumb title="Home Page"></app-custom-breadcrumb>
<section>  
  <article>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="1 0 auto" fxFlex.gt-sm="100">
        <mat-card>
          <mat-card-title>CVC-Financial Schedules</mat-card-title>
          <mat-card-content>
            Welcome <strong>User</strong>, thanks for accessing the system <strong>CVC-Financial Schedules</strong>.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </article>
</section>
